/*정렬*/
.margin_t10{margin-top: 10px;}
.margin_t20{margin-top: 20px;}
.margin_l5{margin-left:5px;}
.margin_l10{margin-left:10px;}
.margin_l20{margin-left:20px;}
.margin_r10{margin-right:10px;}
.margin_r20{margin-right:20px;}
.margin_tb10{margin: 10px 0 10px 0;}
.padding_tb5p_lr10p{padding:5% 10%;}
.line_h25px{line-height:25px;}
.t_center{text-align: center;}
